body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.no-scroll {
  overflow: hidden;
}

.container {
  width: 1170px;
  margin: auto;
}

.header {
  background-color: #333333;
}

.header__wrapper {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__info {
  text-align: right;
}

.header__work-time {
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #FFFFFF;
}

.phone {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: right;
  color: #FFCA00;
  text-decoration: none;
}

.fixes {
  background-color: #333333;
}

.fixes__wrapper {
  padding: 75px 0 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixes__title {
  text-align: center;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
}

.fixes__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
}

.fixes__subtitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 45px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.card__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  margin-bottom: 0;
  margin-top: 45px;
}

.card__image {
  height: 200px;
  width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  padding: 23px 50px;
  background-color: #ffca00;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
}

.brands {
  background-color: #f5f5f5;
}

.brands__wrapper {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brands__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 60px;
}

.brands__list {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands__brand {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  margin-bottom: 30px;
}

.brands__subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  padding: 20px 30px;
  background-color: #ffca00;
  border-radius: 20px;
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand__image {
  width: 370px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}

.services {
  background-color: #333333;
}

.services__wrapper {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 60px;
}

.services__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.services__subtitle {
  font-family: Roboto;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #000000;
  background-color: #ffca00;
  padding: 20px 30px;
  border-radius: 20px;
  width: 750px;
}

.service {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
  padding: 10px;
}

.contact {
  background-color: #f5f5f5;
}

.contact__wrapper {
  padding: 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  color: #000000;
  margin-top: 0;
  margin-bottom: 60px;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Roboto;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-bottom: 110px;
}

.contact__phone {
  margin-bottom: 20px;
}

.contact__address {
  margin-bottom: 40px;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__link {
  background-color: #000000;
  border-radius: 35px;
  text-decoration: none;
  height: 70px;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__link_whatsapp {
  background-color: #1BD741;
}

.contact__link_viber {
  background-color: #7d3daf;
  margin-right: 30px;
}

.footer {
  background-color: #333333;
}

.footer__wrapper {
  padding: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__main {
  color: #ffffff;
  font-family: Roboto;
  font-size: 24px;
  line-height: 28px;
}

.footer__main a {
  color: #ffffff;
  text-decoration: none;
}

.footer__main strong {
  font-weight: 500;
}

.footer__author {
  font-family: Roboto;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.footer__author a {
  color: #ffffff;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pop-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  padding: 65px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.25);
  max-width: 500px;
}

.pop-up input {
  width: 100%;
  border: 0;
  border-bottom: 3px solid #333333;
  padding-bottom: 10px;
  font-family: Roboto;
  font-size: 36px;
  line-height: 42px;
  color: #333333;
  outline: none;
}

.pop-up input::-webkit-input-placeholder {
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

.pop-up input:-ms-input-placeholder {
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

.pop-up input::-ms-input-placeholder {
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

.pop-up input::placeholder {
  font-size: 36px;
  line-height: 42px;
  color: #333333;
}

.pop-up__name {
  margin-bottom: 30px;
}

.pop-up__phone {
  margin-bottom: 50px;
}

.pop-up__button {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  padding: 23px 50px;
  background-color: #333333;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 50px;
}

.warning {
  color: #333333;
  font-size: 16px;
  line-height: 20px;
}

.warning a {
  color: #333333;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 900px;
  }
  .fixes__title {
    font-size: 42px;
    line-height: 48px;
  }
  .fixes__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .fixes__card {
    margin: 0 15px;
    margin-bottom: 30px;
  }
  .fixes__subtitle {
    font-size: 32px;
    line-height: 38px;
  }
  .card {
    padding: 30px 25px;
  }
  .card__image {
    width: 255px;
    height: 170px;
  }
  .card__title {
    font-size: 24px;
    line-height: 30px;
  }
  .button {
    font-size: 32px;
    line-height: 38px;
    padding: 20px 45px;
  }
  .pop-up input {
    font-size: 32px;
    line-height: 38px;
  }
  .pop-up input::-webkit-input-placeholder {
    font-size: 32px;
    line-height: 38px;
  }
  .pop-up input:-ms-input-placeholder {
    font-size: 32px;
    line-height: 38px;
  }
  .pop-up input::-ms-input-placeholder {
    font-size: 32px;
    line-height: 38px;
  }
  .pop-up input::placeholder {
    font-size: 32px;
    line-height: 38px;
  }
  .pop-up__button {
    font-size: 32px;
    line-height: 38px;
  }
  .brands__title {
    font-size: 42px;
    line-height: 48px;
  }
  .brands__subtitle {
    font-size: 32px;
    line-height: 38px;
    width: 80%;
  }
  .brand__image {
    margin: 0 15px;
    width: 350px;
  }
  .services__title {
    font-size: 42px;
    line-height: 48px;
  }
  .services__subtitle {
    font-size: 32px;
    line-height: 36px;
  }
  .service {
    font-size: 32px;
    line-height: 36px;
  }
  .contact__title {
    font-size: 42px;
    line-height: 48px;
  }
  .footer__main {
    font-size: 20px;
    line-height: 24px;
  }
  .footer__author {
    font-size: 20px;
    line-height: 24px;
  }
}

@media screen and (max-width: 992px) {
  .container {
    width: 700px;
  }
  .header__work-time {
    font-size: 20px;
    line-height: 24px;
  }
  .logo img {
    width: 300px;
  }
  .phone {
    font-size: 32px;
    line-height: 36px;
  }
  .fixes__title {
    font-size: 36px;
    line-height: 42px;
  }
  .fixes__subtitle {
    font-size: 28px;
    line-height: 32px;
  }
  .button {
    font-size: 28px;
    line-height: 32px;
    padding: 20px 45px;
  }
  .pop-up input {
    font-size: 28px;
    line-height: 32px;
  }
  .pop-up input::-webkit-input-placeholder {
    font-size: 28px;
    line-height: 32px;
  }
  .pop-up input:-ms-input-placeholder {
    font-size: 28px;
    line-height: 32px;
  }
  .pop-up input::-ms-input-placeholder {
    font-size: 28px;
    line-height: 32px;
  }
  .pop-up input::placeholder {
    font-size: 28px;
    line-height: 32px;
  }
  .pop-up__button {
    font-size: 28px;
    line-height: 32px;
  }
  .brands__title {
    font-size: 36px;
    line-height: 42px;
  }
  .brands__subtitle {
    font-size: 28px;
    line-height: 32px;
    width: 80%;
  }
  .brand__image {
    width: 300px;
  }
  .services__title {
    font-size: 36px;
    line-height: 42px;
  }
  .services__subtitle {
    font-size: 28px;
    line-height: 32px;
  }
  .service {
    font-size: 24px;
    line-height: 28px;
  }
  .contact__title {
    font-size: 36px;
    line-height: 42px;
  }
  .footer__wrapper {
    padding: 30px 0;
  }
  .footer__main {
    font-size: 16px;
    line-height: 20px;
  }
  .footer__author {
    font-size: 16px;
    line-height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 500px;
  }
  .header__work-time {
    font-size: 16px;
    line-height: 20px;
  }
  .logo img {
    width: 240px;
  }
  .phone {
    font-size: 24px;
    line-height: 38px;
  }
  .fixes__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 50px;
  }
  .fixes__subtitle {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
  }
  .fixes__cards {
    margin-bottom: 50px;
  }
  .fixes__wrapper {
    padding: 60px 0 100px;
  }
  .card {
    padding: 20px 20px;
  }
  .card__image {
    width: 180px;
    height: 120px;
  }
  .card__title {
    font-size: 20px;
    line-height: 24px;
  }
  .button {
    font-size: 24px;
    line-height: 28px;
    padding: 15px 35px;
  }
  .pop-up input {
    font-size: 24px;
    line-height: 28px;
    padding-top: 5px;
  }
  .pop-up input::-webkit-input-placeholder {
    font-size: 24px;
    line-height: 28px;
  }
  .pop-up input:-ms-input-placeholder {
    font-size: 24px;
    line-height: 28px;
  }
  .pop-up input::-ms-input-placeholder {
    font-size: 24px;
    line-height: 28px;
  }
  .pop-up input::placeholder {
    font-size: 24px;
    line-height: 28px;
  }
  .pop-up__button {
    font-size: 24px;
    line-height: 28px;
  }
  .brands__wrapper {
    padding: 100px 0;
  }
  .brands__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 50px;
  }
  .brands__subtitle {
    font-size: 24px;
    line-height: 28px;
    width: 100%;
  }
  .brands__list {
    margin-bottom: 20px;
  }
  .brand__image {
    width: 220px;
  }
  .services__wrapper {
    padding: 100px 0;
  }
  .services__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 50px;
  }
  .services__subtitle {
    font-size: 24px;
    line-height: 28px;
    width: 100%;
  }
  .services__list {
    margin-bottom: 50px;
  }
  .service {
    font-size: 18px;
    line-height: 24px;
  }
  .contact__wrapper {
    padding: 100px 0;
  }
  .contact__title {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 50px;
  }
  .contact__link {
    width: 50px;
    height: 50px;
    overflow: hidden;
  }
  .contact__link img {
    width: 35px;
    height: 35px;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__main {
    margin-bottom: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .container {
    width: 400px;
  }
  .header__work-time {
    font-size: 14px;
    line-height: 18px;
  }
  .pop-up {
    padding: 40px;
    width: 80%;
  }
  .logo img {
    width: 200px;
  }
  .phone {
    font-size: 20px;
    line-height: 24px;
  }
  .fixes__title {
    font-size: 28px;
    line-height: 32px;
  }
  .fixes__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .card {
    padding: 25px 25px;
  }
  .card__image {
    width: 225px;
    height: 150px;
  }
  .card__title {
    font-size: 20px;
    line-height: 24px;
  }
  .brands__title {
    font-size: 28px;
    line-height: 32px;
  }
  .brands__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .brands__brand {
    margin-bottom: 5px;
  }
  .services__title {
    font-size: 28px;
    line-height: 32px;
  }
  .services__subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .service {
    line-height: 26px;
  }
  .service__price {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    text-align: right;
  }
  .contact__title {
    font-size: 28px;
    line-height: 32px;
  }
  .contact__phone, .contact__address {
    font-size: 20px;
    line-height: 24px;
  }
  .contact__info {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 300px;
  }
  .header__work-time {
    font-size: 12px;
    line-height: 16px;
  }
  .logo img {
    width: 150px;
  }
  .phone {
    font-size: 18px;
    line-height: 20px;
  }
  .fixes__title {
    font-size: 24px;
    line-height: 30px;
  }
  .fixes__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .pop-up input {
    font-size: 20px;
    line-height: 24px;
  }
  .pop-up input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 24px;
  }
  .pop-up input:-ms-input-placeholder {
    font-size: 20px;
    line-height: 24px;
  }
  .pop-up input::-ms-input-placeholder {
    font-size: 20px;
    line-height: 24px;
  }
  .pop-up input::placeholder {
    font-size: 20px;
    line-height: 24px;
  }
  .pop-up__phone {
    margin-bottom: 30px;
  }
  .pop-up__button {
    font-size: 20px;
    line-height: 24px;
    padding: 12px 20px;
    margin-bottom: 30px;
  }
  .warning {
    font-size: 14px;
    line-height: 18px;
  }
  .card__image {
    width: 225px;
    height: 150px;
  }
  .card__title {
    font-size: 20px;
    line-height: 24px;
  }
  .brands__title {
    font-size: 24px;
    line-height: 30px;
  }
  .brands__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .services__title {
    font-size: 24px;
    line-height: 30px;
  }
  .services__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
  .service__price {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
  .contact__title {
    font-size: 24px;
    line-height: 30px;
  }
  .contact__phone, .contact__address {
    font-size: 20px;
    line-height: 24px;
  }
  .contact__info {
    margin-bottom: 75px;
  }
}
